.notFound {
    display: flex;
    justify-content: center;
    padding: 1.3rem;
}

.notif {
    background-color: white;
    padding: 1rem;
    border-radius: 7px;
    font-size: 1.5rem;
    border: 2px dashed var(--light-black);
}

.notif a {
    font-style:italic;
    text-decoration: none;
    color:cornflowerblue;
}

.notif a:hover {
    text-decoration: underline;
}